<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <springProfile name="production">
        <springProperty name="logglyToken" source="algafood.logging.loggly.token"/>
        <springProperty name="logglyTag" source="algafood.logging.loggly.apptag"/>

        <appender name="loggly" class="ch.qos.logback.ext.loggly.LogglyAppender">
            <endpointUrl>https://logs-01.loggly.com/inputs/${logglyToken}/tag/${logglyTag}</endpointUrl>
            <encoder>
                <charset>UTF-8</charset>
                <pattern>%d{"ISO8601", UTC} ${LOG_LEVEL_PATTERN:-%5p} [%thread] %logger{10}.%method - %msg%n</pattern>
            </encoder>
        </appender>

        <appender name="logglyAsync" class="ch.qos.logback.classic.AsyncAppender">
            <appender-ref ref="loggly"/>
        </appender>

        <root level="info">
            <appender-ref ref="logglyAsync"/>
        </root>
    </springProfile>
</configuration>